{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {game, "0.1.0"},
         [game]},

        {mode, dev},

        {sys_config, "config/sys.config"},
        {vm_args, "config/game/vm.args"}

]}.

{profiles, [{prod, [{relx,
                     [
                      {mode, prod}
                     ]
            }]}]}.
