{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {game, "0.1.2"},
         [game]},


        {sys_config, "config/sys.config"},
        {vm_args, "config/game/vm.args"}

]}.

{plugins, [rebar3_appup_plugin]}.

{profiles, [{prod, [{relx,
                     [
                      {mode, prod}
                     ]
            }]}]}.

{provider_hooks, [
      {pre, [{tar, {appup, tar}}]},
      {post, [{compile, {appup, compile}},
              {clean, {appup, clean}}]}
  ]}.

{rebar_packages_cdn, "https://hexpm.upyun.com"}.