{erl_opts, [{i, "./_build/default/plugins/gpb/include"}]}.

{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [proto]}
]}.

{plugins, [
    { rebar3_gpb_plugin, "2.22.1" }
]}.

{gpb_opts, [
	{i, "proto"},
    {o_erl, "src/pb"},
    {o_hrl, "include"},
    {module_name_suffix, "_pb"},
    {strings_as_binaries, true},
    type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.