{erl_opts, [
	no_debug_info,
	{parse_transform, lager_transform},
    warnings_as_errors,
    nowarn_export_all
]}.
{deps, [{ranch, "2.1.0"},
    {lager, "3.9.2"},
    {mysql_poolboy, {git, "https://github.com/mysql-otp/mysql-otp-poolboy", {tag, "0.2.1"}}}]}.

{shell, [
    {apps, [login,proto]}
]}.
